

<div class="col-lg-8 col-md-8 col-sm-8">
  <% @posts.each do |post| %>
  <div class="single_iteam"> <%= link_to image_tag(post.images[0].url), post %>
    <div class="slider_article">
      <h2> <%= link_to post.title, class: 'slider_tittle' %> </h2>
      <p> <%= post.text.tr('@', '')[0..100] %> </p>
    </div>
  </div>
  <% end %>

</div>

<%= render 'front/side', posts: @posts %>